* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2% 2% 2% 2%;
  background-color: #fafafa;
}

section {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-card {
  min-height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 5px 17px -2px dimgray;
  padding: 5%;
}

.top-card > * {
  padding: 10px;
  border-bottom-color: black;
}

.todo-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-card {
  border-bottom: 1px solid gainsboro;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.sep-form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#input-todo {
  height: 30px;
  width: 100%;
  border-radius: 4px;
  border: none;
  outline: none;
  color: #8b8c89;
  align-self: flex-start;
}

.error-msg {
  color: red;
}

.main-list-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-list-card > * {
  border-bottom: 1px solid gainsboro;
}

.todo {
  display: flex;
  width: 100%;
  gap: 10px;
}

.class-sep {
  display: flex;
  width: 100%;
  gap: 3px;
}

.input-type {
  height: 30px;
  width: 100%;
  border-radius: 4px;
  border: none;
  outline: none;
  color: #8b8c89;
  align-self: flex-start;
}

.check-task {
  display: flex;
}

button {
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.clear {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
  height: 2rem;
  cursor: pointer;
}

.reload:active {
  transform: rotate(90deg);
}

.fa-check {
  color: greenyellow;
}

.task-active {
  display: none;
}
